<html>
<head>
	<title>EventBot!</title>
    <meta http-equiv="refresh" content="60" >
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/eventbot.css">
    <script src="scripts/jquery-3.1.1.min.js"></script> 
    <script src="scripts/jquery.form.min.js"></script>
</head>
<body>
<h1>Caro and Chris' Wedding Photos</h1>


<!--Loads image for each item in the pictures list array. Generates html -->
<div class="containergallery">
<div class="row">
	<% pictures.forEach(function(picture) { %>
		<div class="col-xs-12 col-lg-4">
			<img src="<%= picture %>" class="img-thumbnail" data-orientation="<%= orientations[picture] %>">
		</div>
	<% }); %>
  	
</div>
</div>



</body>
</html>


