<!doctype html>
<html>
<head>
	<title>EventBot!</title>
    <link rel="stylesheet" type="text/css" href="css/eventbot.css">
    <script src="scripts/jquery-3.1.1.min.js"></script> 
    <script src="scripts/jquery.form.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
       
        $(document).ready(function () {
            var options = {
                beforeSubmit: showRequest,  // pre-submit callback
                success: showResponse  // post-submit callback
            };

            // bind to the form's submit event
            $('#frmUploader').submit(function () {
                $(this).ajaxSubmit(options);
                // always return false to prevent standard browser submit and page navigation
                return false;
            });
        });

        // pre-submit callback
        function showRequest(formData, jqForm, options) {
            alert('Uploading is starting.');
            return true;
        };

        // post-submit callback
        function showResponse(responseText, statusText, xhr, $form) {
            alert('status: ' + statusText + '\n\nresponseText: \n' + responseText );
            location.reload();
        };
    </script>
</head>
<body>
<h1>Caro and Chris' Wedding Photos</h1>
<!-- <form class="form-inline" id="frmUploader" enctype="multipart/form-data" action="api/upload/" method="post"> -->
  	<div class="container-fluid">
	 	<div class="row-fluid">
	 		<div class="col-lg-12">
	 			<div class="content">
	 				
	 				<h3>Upload 10 photos at a time. Click "Browse", select your photos, and click "Upload"!</h3>
	 				
    <form id="frmUploader" enctype="multipart/form-data" action="/api/upload/" method="post">
        <label class="sr-only" for="inlineFormInput">Your Name</label>
	<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="yourname" name="name" placeholder="Your Name" required>
	<label class="btn btn-primary">Browse&hellip;
            <input type="file" style="display: none;" name="imgUploader" multiple />
	</label>
	<button type="submit" class="btn btn-primary" name="submit" id="btnSubmit" value="Upload">Upload</button>
    </form>

 				</div>
	 		</div>
	 	</div>
	 </div>
<!-- </form>	 -->

<!--Loads image for each item in the pictures list array. Generates html -->
<div class="containergallery">
<div class="row">
	<% pictures.forEach(function(picture) { %>
		<div class="col-sm-12 col-lg-4">
			<img src="<%= picture %>" class="img-thumbnail thumbnail" data-orientation="<%= orientations[picture] %>">
		</div>
    <% }); %>
</div>
</div>

<section id="buttons">
</section>

<script type="text/javascript">
    var yourname = document.getElementById("yourname").value;

    var section = document.getElementById('buttons');
    const buttons = <%- JSON.stringify(buttons) %>;
    for (var id in buttons) {
        var url = "buttons[id]"['url'];
        var button = document.createElement('button');
        var label = document.createTextNode(buttons[id]['label']);
        var i = id;
        button.onclick = function() { location.href = "/?page=" + this.innerText; };
        button.appendChild(label);
        section.appendChild(button);
        console.log(id);
        if (id == "<%= page %>") {
            button.classList.add("focused");
        }
    }
</script>


</body>
</html>


