body {
	background-color: #000000;
}

a:link {
	color: #71EEB8;
}

a:visited {
	color: #d3ecdd;
}

h1 {
	font-family: 'Lobster', cursive;
	color: white;
	font-size:50px;
	font-weight: 800;
	width: 100%;
	margin-bottom: 5px;
	/*margin-left: 1.66%;*/
	float:left;	
}

h3	{
	font-size: 1.5em;
	font-family: 'Saira Semi Condensed', sans-serif;
	color: white;

}

.aboutP {
	font-size: 1.5em;
	font-family: 'Saira Semi Condensed', sans-serif;
	color: white;
	display: block;
	width: 80%;
	padding: 0px 0px 0px 30px;
	margin: 0;
}

img {
	float:left;
	width: 400px;

}

.containergallery {
	margin: 10px;
	padding: 10px;
	display: block;
}

.img-thumbnail[data-orientation="8"] {
	transform:rotate(270deg);
}

.img-thumbnail[data-orientation="6"] {
	transform:rotate(90deg);
}

.img-thumbnail[data-orientation="3"] {
	transform:rotate(180deg);
}

.img-thumbnail {
	margin-top: 100px;
	margin-bottom: 5px;
	max-height: 401px;
}

/* amatic-sc-700 - latin */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  src: local('Amatic SC Bold'), local('AmaticSC-Bold'),
       url('../fonts/amatic-sc-v10-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/amatic-sc-v10-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* saira-semi-condensed-regular - latin */
@font-face {
  font-family: 'Saira Semi Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Saira SemiCondensed Regular'), local('SairaSemiCondensed-Regular'),
       url('../fonts/saira-semi-condensed-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/saira-semi-condensed-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

button {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	background-color: black;
	color: white;
	border: 2px solid black;
}

button:hover {
	background-color: #ffffff;
	color: black;
}

.button:focus {
	background-color: #71EEB8;
	color:black;
}

.focused {
	background-color: #71EEB8;
	color:black;
}